
@section scripts {
    <script type="text/javascript">
        $('.collapse').collapse({
            toggle: false
        })
    </script>
}
    <div class="container col-sm-9">
        <h1>Welcome to BestLifeRewarded Innovations</h1>
        <p>
            Sign-up today and start earning exciting rewards for taking small steps to improve your well-being. You will have access to a complete health assessment and tailored action plan with reward points for every step you take!
        <p>
            BestLifeRewarded is fun, easy to use and will help you focus on the areas of health that matter most to you! Watch your points balance increase as you read about health conditions, lifestyle management and as you use daily health trackers. Use your points any time to bid on fun prizes!
            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                More Info
            </a>
            <div class="collapse small" id="collapseExample">
                <div class="card card-body">
        <p>BestLifeRewarded elevates health and wellness programs. For nearly a decade, BestLifeRewarded has been helping thousands of Canadian organizations measurably transform member well-being through a proven, customizable, and innovative platform.</p>
        <p>We are passionate about getting Canada healthy. BestLifeRewarded is a proven and innovative platform that will provide you with your own personalized health action plan, including rewards-based education, health tracking tools, goal-setting, reminders, challenges, recipes and health news. As you engage in the program, you will earn reward points that you may bid on monthly draws for exciting items such as $25 Amazon gift cards, $50 Walmart gift card, $250 Visa pre-paid card, and more!</p>
    </div>
            </div>
        </p>

        <p>
            Member personal information will never be shared with anyone. Please review our <a href="#">Privacy Policy</a> to learn more.
        </p>
        
        <a class="btn btn-block btn-lg btn-info" href="/Home/Register"> Click Here to Improve your Life!</a>
    </div>

