@model RegistrationModel
@section scripts {
    <script type="text/javascript">
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
}
<div class="container col-sm-9">
<h1 class="text-center m-2">Register for the BestLifeRewarded Platform</h1>
    <form class="m-4" asp-action="Register" asp-controller="Home" method="post" role="form">
        <h4>Step One: Select your Plan</h4>
        <div class="card card-body mb-4">
            <span asp-validation-for="SubscriptionType" class="text-danger"></span>
            @foreach (var item in Model.SubscriptionLookups)
            {
            <div class="form-check">
                <input asp-for="SubscriptionType" class="form-check-input" type="radio" value="@item.Value" />
                <label class="form-check-label">
                    @item.Description
                </label> 
            </div>
            }
            <div class="small mt-2">
                <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    About Your Membership Subscription
                </a>
                <div class="collapse small" id="collapseExample">
                    <p>Your BestLifeRewarded full membership will begin once your payment is received. For free 30-day trials, it will begin immediately. To cancel your membership, click the “Cancel My Membership” button found on your profile page on BestLifeRewarded.com.</p>
                    <p>By clicking “Complete Registration”, you authorize us to continue your chosen BestLifeRewarded membership automatically charged to the payment method provided, until you cancel. We will begin billing your Payment Method for membership fees immediately, until you cancel. For 30-day Free Trial memberships, your credit card will be billed on a monthly basis beyond the initial 30-days, until you cancel.</p>
                </div>
            </div>
        </div>
        <h4>Step Two: Enter Account Information</h4>
        <div class="card card-block p-3 mb-4">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <h4>Step Three: Enter Credit Card Information</h4>
        <div class="card card-block p-3 mb-4">
            <div class="form-group row">
                <label asp-for="CreditCardNumber" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="CreditCardNumber" type="text" class="form-control" placeholder="0000-0000-0000-0000" />
                    <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CardholderName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="CardholderName" type="text" class="form-control" />
                    <span asp-validation-for="CardholderName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SecurityCode" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-2">
                    <input asp-for="SecurityCode" type="text" class="form-control" placeholder="###">

                </div>
                <span asp-validation-for="SecurityCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  id="termsOfService"/>
            <label class="form-check-label" for="termsOfService">
                I have read and agree to the consent form, terms of service, privacy policy and cancellation policy.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  id="autorenew" />
            <label class="form-check-label" for="defauautorenewltCheck2" >
            I understand that my membership will auto-renew unless I cancel it.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  id="offers" />
            <label class="form-check-label" for="offers">
                I would like to opt-in to receive email communications and other special offers from BestLifeRewarded.com.
            </label>
        </div>
        <button type="submit" class="btn btn-block btn-lg btn-outline-info mt-4" >Complete Registration</button>
    </form>
</div>

